.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

body {
    padding-top: 120px;
    overflow-y: scroll;
}

footer {
    margin: 5em 0;
}

.card * {
    text-decoration: none;
}

.post:hover {
    filter: brightness(105%);
}

.badge:hover {
    filter: brightness(125%);
}

.hover_darken_content:hover svg {
    transition: 0.3s;
    filter: brightness(80%);
}

.hover_darken_content.roll_btn:hover {
    transition: 0.3s;
    filter: brightness(80%);
}

.post-title:hover {
    filter: brightness(80%);
}

.likes_comments {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.likes:hover {
    filter: brightness(80%);
}