{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Hi {{ user.username }}!</h1>
        <p><a href="{% url 'b:account:password_change' %}" class="btn btn-outline-warning">Password Change</a></p>
        <form action="{% url 'b:account:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
    {% else %}
        <h1>Hi!</h1>
        <h3>You are not logged in</h3>
        <p><a href="{% url 'b:account:login' %}" class="btn btn-lg btn-primary" role="button">Log In</a></p>
    {% endif %}
{% endblock %}