Django~=4.2.17
beautifulsoup4~=4.12.3
django-crispy-forms~=2.3
martor~=1.6.45
bleach~=6.2.0
soupsieve~=2.6
pillow~=11.1.0
pip~=24.3.1
webencodings~=0.5.1
asgiref~=3.8.1
sqlparse~=0.5.3
requests~=2.32.3
Markdown~=3.5.2
certifi~=2025.1.31
urllib3~=2.3.0
idna~=3.10
charset-normalizer~=3.4.1
django-htmx~=1.21.0
django-debug-toolbar~=4.4.6
django-storages~=1.14.6