{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    {% if validlink %}

        <p>{% translate "Please enter your new password." %}</p>

        {% crispy form %}

    {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
