
<form class="bg-dark p-2 rounded-2 mt-5" id="id-rolls-form"
      hx-post="{% url "b:news:arc_details" arc.slug %}">
        {% csrf_token %}

        <div class="d-flex justify-content-center">
            <button class="rounded-pill btn btn-info hover_darken_content text-center h2 w-25 m-1">
                {{arc.title}}
            </button>
        </div>
        <div class="mb-1 h-25 p-4">
            <div id="div_id_title" class="mb-3">
                <label for="id_title" class="form-label requiredField"> Title:</label>
            </div>
        </div>
        <div class="row p-2">
            <input type="reset" name="reset" value="Cancel"
                   class="btn btn-inverse btn-outline-danger w-auto me-auto" id="reset-id-reset" />
            <input type="submit" name="submit" value="Save" class="btn btn-primary btn-success w-25" id="submit-id-submit" />
        </div>
</form>