{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Rolls | {{ post.title }}{% endblock %}

{% block content %}

    {% include "news/parts/post_only_content.html" %}

    {% block rolls %}
    {% endblock %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="bg-dark p-2 rounded-2">
        <div class="p-2">
            <h1 class="text-center">Success rolls:</h1>
            <div class="d-flex flex-row" id="success_rolls">
                {% for roll in success_rolls %}
                        {% if not roll.roll %}
                            {% include "news/parts/components/roll_pills/no_success_roll_pill.html" %}
                        {% else %}
                            {% include "news/parts/components/roll_pills/happy_pill.html" %}
                        {% endif %}
                {% endfor %}
                {% include "news/parts/components/roll_pills/additional_success_roll_button.html" %}
            </div>
        </div>
        <div class="border-top p-2">
            <h1 class="text-center">Secrecy rolls:</h1>
            <div class="d-flex flex-row" id="secrecy_rolls">
                {% for roll in secrecy_rolls %}
                        {% if not roll.roll %}
                            {% include "news/parts/components/roll_pills/no_secrecy_roll_pill.html" %}
                        {% else %}
                            {% include "news/parts/components/roll_pills/happy_pill.html" %}
                        {% endif %}
                {% endfor %}
                {% include "news/parts/components/roll_pills/additional_secrecy_roll_button.html" %}
            </div>
        </div>
        {% if has_unrolled %}
            <div class="row my-1" >
            <button type="button" name="roll" class="btn btn-primary ms-auto me-auto w-25" id="button-id-roll"
                    hx-get="/news/random_roll" hx-swap="outerHTML" hx-target="#div_id_roll">Roll all</button>
            </div>
        {% endif %}
    </div>
    <div id="description_form">

    </div>

{% endblock %}