{% extends "base.html" %}

{% block title %}Profile | SpacePowers{% endblock %}

{% block content %}
    <h1> {{ intro }}
    </h1>

    <a href="{% url "b:news:unpublished" %}" class="btn btn-primary btn-lg my-3">Unpublished posts</a>
    <a href="{% url "b:news:arcs_page" %}" class="btn btn-primary btn-lg my-3">Your arcs</a>

    <br>
    You've been with us since {{ user.date_joined|date:"d.m.Y G:i" }}! <br>
    {% if nation_count %}
        You've managed to control {{ nation_count }} <a href="{% url "b:nation:home" %}">nation(s)</a>!
        {% if nation_count < max_nation_count and nation_creation_allowed %}
            Current faction limit is {{ max_nation_count }}. Do you want to <a href="{% url 'b:nation:create' %}">create another one</a>?
            {% endif %}
    {% else %}
        You don't control any faction yet!
        {% if nation_creation_allowed %}
            Fortunately you can <a href="{% url 'b:nation:create' %}">create one</a>!
            {% else %}
            Unfortunately nation creation is currently disabled. You can still watch the news though!
        {% endif %}
    {% endif %}
    <br><br><br>
    <p><a href="{% url 'b:account:password_change' %}" class="btn btn-outline-warning">Password Change</a></p>
    <form action="{% url 'b:account:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
{% endblock %}