{% extends "base.html" %}

{% block title %}Profile | SpacePowers{% endblock %}

{% block content %}

<h1>Hi!</h1>
        <h3>You are not logged in!</h3>
        <p><a href="{% url 'b:account:login' %}" class="btn btn-lg btn-primary" role="button">Log In</a></p>
        {% if signup_allowed %}
            <h3>Do you want to create an account?</h3>
            <p><a href="{% url 'b:account:signup' %}" class="btn btn-lg btn-primary" role="button">Register</a></p>
        {% endif %}

{% endblock %}