{% if edition_allowed %}
    <form hx-put='{% url "b:nation:edit" nation.slug %}'
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-vals='{"field_slugs": {{ field_slugs }}, "model_slug": "{{ model_slug }}", "instance_pk": "{{ instance_pk }}"}'>
    {% csrf_token %}
{% endif %}
<div class='border-bottom d-flex' id="editable">
        <span class="me-auto my-auto align-middle">
            {% block field_text %}
            {% endblock %}
        </span>
    {% if edition_allowed %}
        {% include "nation/components/buttons/edit_button.html" %}


        {% include "nation/components/buttons/delete_button.html" %}
    {% endif %}
</div>

{% if edition_allowed %}
    </form>
{% endif %}