.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

body {
    padding-top: 120px;
}

footer {
    margin: 5em 0;
}

.card * {
    text-decoration: none;
}

.post:hover {
    filter: brightness(105%);
}

.badge:hover {
    filter: brightness(125%);
}

.post-title:hover {
    filter: brightness(80%);
}