{% extends "base.html" %}

{% block title %}{{ nation.name }}{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="border-top p-3 bg-dark my-4">

        {% autoescape off %}

            {% if nation.banner %}
                    <img style="height: 15rem; width: 100%" src="{{ nation.banner.url }}" alt="Nation banner">
                {% endif %}

            <h2 class="text-center text-body bg-primary d-flex"
            style="position:relative; min-height: 5rem;">

                {% if nation.flag %}
                        <img class="me-auto p-2" style="max-height: 3em;" src="{{ nation.flag.url }}" alt="Nation flag">
                    {% endif %}
                <span class="text-center align-self-center" style="position:absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;" >{{ nation.name }}</span>
                {% if nation.coat_of_arms %}
                        <img class="ms-auto p-2" style="max-height: 3em;" src="{{ nation.coat_of_arms.url }}" alt="Nation coat of arms">
                    {% endif %}
            </h2>

            <h1 class="text-center">
                <span class="text-center align-self-center">Glory to our {{ owner_title }}!</span>
            </h1>

            {% if not nation.active %}
                <h2 class="text-danger text-center">Your faction is not active! It needs to be verified by an
                    administrator</h2>
            {% endif %}
            {% with field_slugs='["PKB"]' model_slug='nation' instance_pk=nation.pk %}
                {% include "nation/components/specialisations/pkb_field.html" %}
            {% endwith %}

            {% with field_slugs='["population"]' model_slug='nation' instance_pk=nation.pk %}
                {% include "nation/components/specialisations/population_field.html" %}
            {% endwith %}

            <h2 class="text-danger text-center mt-4">Combat forces:</h2>
            {% for army in nation.armies.all %}
                {% with field_slugs='["name"]' model_slug='army' instance_pk=army.pk %}
                    {% include "nation/components/specialisations/armies_field.html" %}
                {% endwith %}
                {% for unit in army.units.all %}
                    {% with field_slugs='["name", "size", "upkeep_per_unit"]' model_slug='unit' instance_pk=unit.pk %}
                        {% include "nation/components/specialisations/unit_field.html" %}
                    {% endwith %}
                {% endfor %}
                {% with field_slugs='["name", "size", "upkeep_per_unit"]' model_slug='unit' parent_model_slug="army" parent_pk=army.pk %}
                    {% include "nation/components/create_field.html" %}
                {% endwith %}
                <br><br>
            {% endfor %}
            {% with field_slugs='["name"]' model_slug='army' parent_model_slug="nation" parent_pk=nation.pk %}
                {% include "nation/components/create_field.html" %}
            {% endwith %}
            </div>

        {% endautoescape %}


{% endblock %}