{# Used in single post #}

{% extends "news/parts/post_overwiewed.html" %}

{% load static %}
{% load martortags %}

{# Title no longer links to the post #}
{% block title_link %}
    <h3 class="card-header">
        <span class="text-body">{{ post.title|truncatewords_html:7|safe }}</span>
    </h3>
{% endblock %}

{# Title now has author #}
{% block nation_name %}
    <a href="{{ post.nation.get_news_url }}">
        {{ post.nation|truncatewords_html:7 }}
    </a>
    •
    Posted by <a href="{% url 'b:news:author' post.author.id %}">
        {{ post.author|truncatewords_html:7 }}
    </a>
{% endblock %}

{# content is no longer truncated #}
{% block content %}
    <p class="card-text">
        {{ post.content | safe_markdown }}
    </p>
{% endblock %}

{# show roll #}
{% block rolls %}
    <ul class="list-group list-group-flush">
        {% if post.requires_success_roll %}
            {% for roll in post.get_success_rolls %}
                {% with roll=roll.roll description=roll.roll_description %}
                    {% include "news/parts/components/success_roll.html" %}
                {% endwith %}
            {% endfor %}
        {% endif %}

        {% if post.requires_secrecy_roll %}
            {% for roll in post.get_secrecy_rolls %}
                {% with roll=roll.roll description=roll.roll_description %}
                    {% include "news/parts/components/secrecy_roll.html" %}
                {% endwith %}
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}

{# include comment section #}
{% block comment_section %}
    {% include 'news/parts/components/comment_section.html' %}
{% endblock %}