
<form class="bg-dark p-2 rounded-2 mt-5" id="id-rolls-form"
      hx-post="{% url "b:news:description" post_slug roll.pk %}">
        {% csrf_token %}
        {% load choose_bg %}

        <div class="d-flex justify-content-center">
            {% if roll.roll_type == 'secrecy' %}
                <svg width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z"
                          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z"
                        stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            {% elif roll.roll_type == 'success' %}
                <svg fill="rgba(var(--bs-emphasis-color-rgb)" width="100px" height="100px" viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M 16 3.71875 L 15.375 4.21875 L 7.125 10.625 L 6.875 10.84375 L 6.78125 11.15625 L 4.03125 21.25 L 3.8125 22.03125 L 16 28.125 L 28.1875 22.03125 L 27.96875 21.25 L 25.21875 11.15625 L 25.125 10.84375 L 24.875 10.625 L 16.625 4.21875 Z M 15 7.0625 L 15 10 L 11.21875 10 Z M 17 7.0625 L 20.78125 10 L 17 10 Z M 9.0625 12 L 14 12 L 10.40625 16.78125 Z M 18 12 L 22.9375 12 L 21.59375 16.78125 Z M 16 12.6875 L 20 18 L 12 18 Z M 7.8125 15 L 8.8125 18.5 L 6.5625 19.625 Z M 24.1875 15 L 25.4375 19.625 L 23.1875 18.5 Z M 12 20 L 20 20 L 16 25.3125 Z M 9.6875 20.28125 L 12.625 24.1875 L 7.25 21.5 Z M 22.3125 20.28125 L 24.75 21.5 L 19.375 24.1875 Z"/>
                </svg>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
            <button class="rounded-pill disabled btn {% choose_bg roll.roll %} text-center w-50 m-1">
                {{roll.roll}}
            </button>
        </div>
        <div class="mb-1 h-25 p-4">
            <div id="div_id_description" class="mb-3">
                <label for="id_description" class="form-label requiredField"> Description:</label>
                <textarea name="description" cols="40" rows="10" class="textarea form-control" required id="id_description">{{ roll.roll_description }}</textarea>
            </div>
        </div>
        <div class="row p-2">
            <input type="reset" name="reset" value="Cancel"
                   class="btn btn-inverse btn-outline-danger w-auto me-auto" id="reset-id-reset" />
            <input type="submit" name="submit" value="Submit description" class="btn btn-primary btn-success w-25" id="submit-id-submit" />
        </div>
</form>