{% extends "news/post_overwiewed.html" %}

{% block title_link %}
    <h3 class="card-header">
        <span class="text-body">{{ post.title|truncatewords_html:7|safe }}</span>
    </h3>
{% endblock %}

{% block nation_name %}
    <a href="{{ post.nation.get_news_url }}">
        {{ post.nation|truncatewords_html:7 }}
    </a>
    •
    Posted by <a href="{% url 'b:news:author' post.author.id %}">
        {{ post.author|truncatewords_html:7 }}
    </a>
{% endblock %}

{% block content %}
    <p class="card-text">
        {{ post.content }}
    </p>
{% endblock %}

{% block comments %}
    {% include 'news/post_comment_section.html' %}
{% endblock %}