{% extends "base.html" %}


{% block title %}News{% endblock %}

{% block content %}


    <h1 class="text-center">Our information about {{ search }}:</h1>
    {% if posts %}
        {% for post in posts %}
            {% include "news/post_overwiewed.html" %}
            <br><br>
        {% endfor %}
        {% else %}
        <h2 class="text-warning text-center mt-5">We lack information about this</h2>
    {% endif %}


    <script type='text/javascript'>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        console.log(tooltipTriggerList)
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}