{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}SpacePowers{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all"  />
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script type="text/javascript" src='{% static 'js/jquery.js' %}'></script>
    {% bootstrap_javascript %}
</head>

<body>

<div class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">SP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'b:nation:home' %}">
                            {% if user.claimed_nations.count <= 1 %}
                                Nation
                            {% else %}
                                Nations
                            {% endif %}
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'b:news:home' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'b:map:home' %}">Map</a>
                </li>
                <li class="nav-item dropdown">
                    {{ dropdown | safe }}
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'b:account:home' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon">
                            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path fill="#fff"
                                  d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z">
                            </path>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="container">
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">🚢 Czarostatek sp. z o.o.</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="{% url 'b:account:home' %}"
                                    class="nav-link px-2 text-body-secondary">Profile</a></li>
            {#            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>#}
            {#            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>#}
        </ul>
    </footer>
</div>
<script type='text/javascript'>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
  </script>
</body>

</html>