{% block comment_section %}
    {% load likes_post %}
    <ul class="list-group list-group-flush">
        {% for comment in comments %}
            <li class="list-group-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        {{ comment.author }} |
                        {% if comment.nation %}
                            <a href="{{ comment.nation.get_news_url }}">{{ comment.nation.name|truncatewords_html:7|safe }}</a>
                        {% else %}
                            Independent
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ comment.comment }}
                        </p>
                    </div>


                    {% likes_post user.id comment as likes_post %}
                    <div class="card-footer text-muted">

                        {% with target='b:news:like_comment' index=comment.pk likes=comment.likes %}
                            {% include "news/parts/components/posts/like_count.html" %}
                        {% endwith %}
                        <span class="float-end p-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
                              data-bs-original-title="{{ comment.created_at|date:"d.m.Y G:i" }}">
                        {{ comment.created_at|timesince }} ago</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}